.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

.drop-down {
	position: relative;
	display: inline-block;
	font-size: medium;
}
.dropdown-content a:hover {
	background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown:hover .dropbtn {
	background-color: #3e8e41;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.search-bar {
	margin: 20px;
	text-align: left;
}

.search-bar-input {
	width: 75%;
}

.list-group-item {
	cursor: pointer;
}

ul.a {
	list-style-type: circle;
}

header {
	display: flex;
	justify-content: center;
	align-content: center;
	text-align: center;
	padding: 15px;
	background-color: #3c3c3c;
	border-bottom: 3px solid #56e3b8;
}
